* { margin:0; padding:0; border:0;}
#wrapper ul {width:280px; height:390px; border:2px solid #000000; position:relative; overflow:hidden; margin:20p;}
#wrapper ul li { list-style:none; width:200px; height:250px; position:absolute; left:100%; }
