@charset "utf-8";
@import url(common.css);

.banner{
	width:324px;
	height:400px;
	background:url(images/mv_left.jpg) no-repeat;
	position:relative;
}
.banner .gogo{
	position:absolute;
	left:236px;
	top:90px;
}

/*gogo1*/
.banner .gogo .gogo1{
	overflow:hidden;
	width:75px;
	height:75px;	
}
.banner .gogo .gogo1>a{   /*off이미지*/
	display:block;
	position:relative;
	width:75px;
	height:75px;
	background:url(images/img_off_01.jpg) no-repeat;
}
.banner .gogo .gogo1>a>img{  /*over이미지 위치변경*/
	position:absolute;
	left:-75px;
}

/*gogo2*/
.banner .gogo .gogo2{
	overflow:hidden;
	width:75px;
	height:75px;
	margin-top:128px;
}
.banner .gogo .gogo2>a{   /*off이미지*/
	display:block;
	position:relative;
	width:75px;
	height:75px;
	background:url(images/img_off_02.jpg) no-repeat;
}
.banner .gogo .gogo2>a>img{  /*over이미지 위치변경*/
	position:absolute;
	left:-75px;
}










